.hidden{
	display:none !important;
}
/* System Fonts as used by GitHub */
body {
  background: #000;
  color:#e7e7e7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

body a {
  color: #fff;
}
body a:hover {
  color: #999;
}
#qrscanner{
height: 80%;
width:100%;
}
#qr-preview{
width:100%;
height: 100%;
}
.header {
  background: #000;
  color: #fff;
  text-align: center; 
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.nav-wrapper{
overflow: hidden
}
#app {
  color: #aaaaaa;
  width:100%;
  height: 100%;
}
#app #loader{

margin:100px;
}

#app #header{

}
#app #main{
text-align: center;
}
#app #main > .section {
padding:0px;
display: none;
}
#app #main > .section.show{
display: block;
}
ul {
border:none !important;
  display: flex;
  flex-flow: column wrap;
padding:0px !important;
margin:0px !important;
width:100%;
}
.row{
margin-bottom:0px !important
}
.collection .collection-item {
background: transparent;
text-align: left;
position: relative;
color:#fff;
font-size:16px;
padding:20px;
}

input[type=text]{

color:white
}


.collection .collection-item:hover {
background: transparent;
cursor:pointer;
cursor:hand;
color: white;
 border-right: 3px solid #ee6e73;
}
.collection .collection-item.active{
background:#555 !important;
}
.collection .collection-item:first-child{
border-top:1px solid #333 !important;
}

ul li{
  color: white;
  padding: 20px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
 
      border-bottom: 1px solid #333 !important;
}
ul li .title{
	text-align: left;
}
ul li .time{
	color:#999;

	float:left;
}
ul li .right{
	position: absolute;
    right: 50px;
    top: 13px;
}
ul li .right a{
    width: 46px;
    display: inline-block;
    text-align: right;
}
ul li .badge{
color:#999;
}


ul li i {
  width: 25px;
  display: block;
}
ul li a{
width:100%;
}

#login-panel input[type=text]{
color:#4b4b4b !important;
}